<page-header></page-header>

<div class="mb-md buttons">
  <button class="btn" nz-button nzType="primary" (click)="toggleAreaColumnVisible()">切换区域列的显示</button>
  <app-st-table-column-toggler #toggler class="btn"></app-st-table-column-toggler>
</div>

<st #st [data]="[]" [columns]="columns">
  <ng-template st-row="customTitle" type="title" let-c>
    {{ c.title.text }}
    <span nz-dropdown [nzDropdownMenu]="menuTpl" nzTrigger="click" [nzClickHide]="false" nzPlacement="bottomRight">
      <i nz-icon nzType="down"></i>
    </span>
    <nz-dropdown-menu #menuTpl="nzDropdownMenu">
      <div class="ant-table-filter-dropdown p-sm">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" name="searchValue"
          class="width-sm mr-sm" />
        <button nz-button [nzType]="'primary'" (click)="st.load(2)">Search</button>
      </div>
    </nz-dropdown-menu>
  </ng-template>
  <ng-template st-row="custom" let-item let-index="index">
    <span nz-tooltip [nzTooltipTitle]="'年龄：' + item.age">tooltip: {{ item.age }}-{{ index }}</span>
  </ng-template>
</st>